.grid-stack-item {
    $gridstack-columns: 1;

    @for $i from 1 through $gridstack-columns {
        &[data-gs-width='#{$i}'] { width: (70% / $gridstack-columns) * $i; }
        &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
        &.grid-stack-body[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
        &.grid-stack-body[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
    }
    // background-color: red;
    // width: 100%;
}