.temp8Overlay{
    width: 100%;
    // background-image: url('../22.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    font-size: 30px;
    font-weight: bold;

    .content8{
        color: red;
    }
}