body{
    background: linear-gradient(45deg, rgb(0, 0, 0) 55%, rgb(247, 77, 51) 5%) no-repeat fixed;
   width: 100%;
    height: auto;
    padding: 0;
    overflow-x: hidden;
     font-family: 'Montserrat', sans-serif;
}
@font-face {
    font-family: 'Raleway-Light';
    src: 
            url('./fonts/Raleway-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Raleway-Bold';
    src:  url('./fonts/Raleway-Bold.ttf') format("truetype");
}
.App {
    width: 100%;
}

.MuiStepper-alternativeLabel {
    background-color: rgba(0, 0, 0, 0) !important;
}
.cont-item{
    position: relative;
}
.item-2{
    
    margin-top: 70px;
}
h4{
    font-size: 14px;
    width: auto;
}
.MuiButton-containedSecondary {
    color: black;
    background-color:  rgb(247, 77, 51) !important; 
}
.icon{
   position: absolute;
   z-index: 5;
   top: 0;
  right: 20%;

    color: white;
}
.t-1{
    color: white;
}
.MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    color: white !important;;
}
/* .makeStyles-root-25{
    color: white !important ;
} */
.container{
    
    margin: 0 auto;
    width: 1920;
    height: auto;
}
.container-pdf{
    margin: 0 auto;
    width: 650px;
    z-index: 3;
    height: auto;
}
.stepper{
    background-color: grey;
}
.background-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.headbtn{
    position: fixed;
    left: 48%;
    top: 48%;
    z-index: 30;  
}
.button{
    top: 40px;
    left: 20px;
    position: fixed;
}
.button>:last-child{
    margin-left: 10px;
    
}
.template-1{
    
    font-family: 'Raleway-Light';
}
.h4-1{
    font-size: 14px;
    font-weight: 100;
    font-family: 'Raleway-Bold';
}
.h4-2{
    font-weight: 100;

    font-family: 'Raleway-Bold';
}
.content-head-1{
    position: absolute;
    top: 90px;
    left: 30px;
}
.head-1{
    position: relative;
    height: 200px;
    width: 700px;
    background:  no-repeat center/100% url("./1.jpg");
    
}
.bg1{ 
    opacity:0.6;
    height: 100%;
    -moz-opacity:0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color:#000;
    }

.head-name-1{
    display: flex;
    flex-direction: row;
    top: 80px;
    /* font-weight: 700; */
    font-size: 40px;
    color: white;
    margin-bottom: 12px;
}
.post-1{
    font-size: 15px;
    color: white;
}
.avatar-1{
    position: absolute;
    top: 40px;
    right: 45px;
 
    border-radius: 1000px;
    border: solid white;
    z-index: 5;
    /* object-fit: fill; */
    max-width: 100%;
    
}

.avatarImage {
  
    border-radius: inherit;
    object-fit: cover;

}
.contain{
    object-fit: cover;

}

.main-info-1{
   

    display: flex;
    justify-content: space-between;
    width: 700px;
    height: auto;
   
}
.left-info-1{
    position: relative;
    background-color: white;
    width: 60%;
    min-height: 550px;
}
.h{
    position: absolute;
    top: 8%;
    left: 36%;
}
.first-info-left-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: center;
    margin-top: 75px;
    padding-bottom: 20px;
}
.first{
   
    width: 50%;
}
.first-info-left-1>div{
    margin-bottom: 60px;
}

.right-info-1{
    width: 40%;
    background-color: #CEE077;
    padding-bottom: 40px;
}
.first-info-right-1{
    font-size: 15px;
    margin-left: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.first-info-right-1>div {
    margin-top: 45px;
}
.contact{
    width: 100%;
    position: absolute;
    bottom: 3%;
}
.contact-content{
    margin-left: 10px;
    font-size: 12px;
}
.content-center{
    /* text-align: center; */
    width: 50%;
    margin:0 auto;
}
.h-center{
   width: auto;
   text-align: center; 
}

.text{
    font-size: 12px;
}
.h2-template{
    padding: 20px;
    text-align: center;
    /* font-weight: bold; */
    margin: 10px 20px;   font-family: 'Montserrat', sans-serif;
}
.h3-template{
    color:white;
}

.other-info{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 640px;
    height: auto;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    
 
}
.other-left-info-1{
    margin-left: 15px;
    background-color: white;
    width: 50%;
    min-height: 550px;
}

.other-text{
    font-size: 12.5px;
}

.context{
   position: absolute;
   top: 10%;
    color: black;
    z-index: 6;
    left: 40%;
    top: 3%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway-Bold';
    
}
.template-1{
cursor: pointer;
   
}
.img-1-1{
   position: absolute;
    width: 150px;
   z-index: 2;
}
.img-1-2{
    position: relative;
    
    z-index: 1;
    width: 150px;
}

.template-1:hover .img-1-2{
z-index: 3;
}

.wrap {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button1 {
      text-decoration: none;
      text-align: center;
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    border: none;
    
    box-shadow: 12px 12px 24px wheat;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    top: 400px;
    padding: 10px;
    z-index: 2;
    }
  
  .button1::before {
  content: '';
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 2px solid wheat;
    box-shadow: 0 0 60px wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button1:hover, .button:focus {
    color: wheat;
    transform: translateY(-6px);
  }
  
  .button1:hover::before, button:focus::before {
    opacity: 1;
  }
  
  .button1::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid white;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button1:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .btn2 {
      width: 300px;
      text-align: center;
    text-decoration: none;
    top: 450px;
    outline: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: black;
    border-image-slice: 1;
    margin: 10px 20px;   font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165,.84,.44,1);
    z-index: 2;
  }
  .btn2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: black;
    background: linear-gradient(100deg, #f74d33, #ffffff);
    transition: .8s cubic-bezier(.165,.84,.44,1);
  }
  .btn2:hover {background: rgba(255,255,255,0);
    color: black;
}
.MuiSnackbarContent-root{
    background-color: #4caf50 !important;
}
  .btn2:hover:before {
    bottom: 0%;
    top: auto;
    height: 100%;
  }

  @keyframes fade-in{
      0%{
    
          opacity: 0;
          transform: translateX(-400px);

      }
      100%{
          transform: translateX(0px);

          opacity: 1;
      }
  }
  @keyframes fade-out{
    0%{
        opacity: 1;
        transform: translateY(0px);
        
        
    }
    100%{
        transform: translateY(-400px);

        opacity: 0;
    }
}
 video{

    overflow: hidden;
 }
   .page{
    /* overflow: hidden; */
     position: absolute;
    width: 100%;
    height: 100%;
     
      
   }
   .page-enter-active{
       animation:fade-in 1.2s forwards;
   }
   .page-exit-active{
    animation:fade-out 1.2s forwards;
}
  

.side{
    position: absolute;
    
    right: -260px;
    top: 32%;
    width: 300px;
    height: 300px;
   transition: 1s;
   border-radius: 30px;
   box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    background-color: white;
}
.side-h2{
    text-align: center;

    font-weight: bold;
    margin: 10px 20px;   font-family: 'Montserrat', sans-serif;
}
.open{
    right: 20px;


    background-color: white;
}
.side-open{
    color: rgb(247, 77, 51) ;

    position: absolute;
    left: -45px;
    top: 43%;
    transform: rotate(-90deg);
    font-size: 30px;
    font-weight: bold;
    margin: 10px 20px;   font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}
.side-img{
    position: absolute;
    left: 70px;
    width: 150px;
}
.side-close{
    color: rgb(247, 77, 51) ;
    position: absolute;
    left: 85px;
    top: 245px;
    font-size: 30px;
    font-weight: bold;

    margin: 10px 20px;   font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}


.photoInput {
    margin: 10px
}
.inputAvatar {
    max-width: 100px;
    margin-left: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 45px;
}

.project {
    width: 49%;
    margin-top: 30px;
    
}
.h5-1{
    font-weight: 100;
    margin-top: 14px;
}

.bloblo{
    position: relative
}
.MuiFab-primary{
    background-color:rgb(247, 77, 51) !important ;
}

.inoutinput {
    position: absolute;
    right: -50px;
    top: 10px;
}